/* COLOR PALETTE
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359
*/

/* DEFINE CUSTOM */
:root {
    --color-sage: #a5b68d;
    --color-peach: #ecdfcc;
    --color-beige: #fcfaee;
    --color-orange: #da8359;
    --width-small: 800px;
}

/* TOP LEVEL */
html {
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
}
@media (max-width: 1067px) {
    html {
        font-size: 1em;
    }
}
body {
    background: var(--color-sage);
    margin: 0;
    padding: 0;
}

/* MAIN PAGE STRUCTURE */
@media (min-width: 800px) {
    #container {
        width: var(--width-small);
	    margin: 0 auto;
    }
}
@media (min-width: calc(800px/0.75)) {
    #container {
        width: 75%;
    }
}
nav, main, #page-footer {
    margin-top: 16px;
}
#page-header, #page-footer {
    background: var(--color-peach);
}

/* PAGE TITLE */
h1 a {
    color: black;
}
h1 a:hover {
    text-decoration: none;
}

/* MAIN NAVIGATION MENU */
nav menu {
    background: var(--color-orange);
    list-style: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-weight: bold;
    margin: 0;
}
nav menu li {
    display: inline;
    line-height: 2em;
    text-transform: uppercase;
}
nav menu li a {
    color: black;
}

/* MAIN CONTENT STYLING */
#page-header, nav menu, main, #page-footer {
    padding-left: 2rem;
    padding-right: 2rem;
}
main {
    font-size: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    background: var(--color-beige);
}
#post-previews {
    --col-gap: 2em;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--col-gap);
}
#post-previews article {
    --num-posts: 3;
    width: calc(100%/var(--num-posts) - (var(--num-posts) - 1)/var(--num-posts)*var(--col-gap));
}
#post-previews article:first-child {
    width: calc(200%/var(--num-posts) - (var(--num-posts) - 1)/var(--num-posts)*var(--col-gap)/2)
}
@media (max-width: 800px) {
    #post-previews {
        display: block;
    }
    #post-previews article, #post-previews article:first-child {
        width: 100%;
    }
}
article hgroup p, article footer p {
    font-size: 0.8em;
}
article hgroup p, p#tags {
    font-weight: bold;
}
p#last-updated {
    font-style: italic;
}
#page-footer p {
    margin: 0;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}

/* HYPERLINKS */
a {
    text-decoration: none;
    color: var(--color-orange);
}
a:hover {
    text-decoration: underline;
}

/* HEADINGS */
h1 {
    font-size: 4rem;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}