/* COLOR PALETTE
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359
*/

/* DEFINE CUSTOM */
:root {
    --color-sage: #a5b68d;
    --color-peach: #ecdfcc;
    --color-beige: #fcfaee;
    --color-orange: #da8359;
}

/* TOP LEVEL */
html {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    @media (min-width: calc(800px/0.75)) {
        font-size: 1.2em;
    }
}
body {
    background: var(--color-sage);
    margin: 0;
    padding: 0;
}

/* MAIN STRUCTURE */
#container {
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    @media (min-width: 800px) {
        width: 800px;
    }
}
#page-header {
    background: var(--color-beige);
    grid-area: header;
}
#page-footer {
    background: var(--color-beige);
    grid-area: footer;
}
nav {
    height: min-content;
    background: var(--color-orange);
    grid-area: nav;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
main {
    background: var(--color-peach);
    grid-area: main;
    padding: 1rem;
}
#page-header, nav, #page-footer {
    padding-left: 2rem;
    padding-right: 2rem;
}
#page-footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
@media (min-width: 800px) {
    main {
        padding: 2rem;
    }
}
@media (min-width: calc(800px/0.75)) {
    #container {
        width: 100%;
        grid-template-columns: auto 75%;
        grid-template-areas:
            ". header"
            "nav main"
            ". footer";
        justify-content: center;
    }
    nav {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

/* CORNER RADII */
#page-header {
    border-radius: 0 0 2rem 2rem;
}
nav {
    border-radius: 1rem;
}
main {
    border-radius: 1rem;
    @media (min-width: 800px) {
        border-radius: 2rem;
    }
}
#post-previews > article, .post-part, h2 {
    border-radius: 1rem;
}
#page-footer {
    border-radius: 1rem 1rem 0 0;
}

/* PAGE TITLE */
h1 {
    font-size: 4em;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    & a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

/* MAIN NAVIGATION MENU */
nav menu {
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    & > li {
        display: inline;
        line-height: 2em;
    }
}
nav menu li a {
    color: black;
}
@media (min-width: calc(800px/0.75)) {
    nav menu > li {
        display: block;
    }
}

/* LIST PAGE CONTENT */
#post-previews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    margin-top: 1em;
}
#post-previews > article {
    background: var(--color-beige);
    padding-right: 1em;
    padding-left: 1em;
}

/* POST PAGE CONTENT */
article#post {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.post-part {
    background: var(--color-beige);
    padding: 0.25em 1rem;
}
article hgroup, article footer {
    font-size: 0.8em;
}
article hgroup {
    font-weight: bold;
    & > .post-part {
        margin-top: 1rem;
    }
}
ul#categories, ul#tags {
    font-weight: bold;
    list-style: none;
    padding: 0;
    & > li {
        display: inline;
    }
}
p#last-updated {
    font-style: italic;
}

/* FOOTER */
#page-footer > p {
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* HYPERLINKS */
a {
    color: var(--color-orange);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/* HEADINGS */
h2 {
    font-size: 2rem;
    background: var(--color-beige);
    margin: 0;
    padding: 0.5em 1rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}