/* COLOR PALETTE
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359
*/

/* DEFINE CUSTOM */
:root {
    --color-sage: #a5b68d;
    --color-peach: #ecdfcc;
    --color-beige: #fcfaee;
    --color-orange: #da8359;
}

/* TOP LEVEL */
html {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    @media (min-width: 1024px) {
        font-size: 1.2em;
    }
}
body {
    background: var(--color-sage);
    margin: 0;
    padding: 0;
}

/* MAIN STRUCTURE */
#container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#page-header {
    background: var(--color-beige);
    grid-area: header;
}
#page-footer {
    background: var(--color-beige);
    grid-area: footer;
    margin-top: auto;
}
nav {
    height: min-content;
    background: var(--color-orange);
    grid-area: nav;
    padding: 0.5em;
}
main {
    background: var(--color-peach);
    grid-area: main;
    padding: 1rem;
}
#page-header, #page-footer {
    padding-left: 2rem;
    padding-right: 2rem;
}
#page-footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
@media (min-width: 1280px) {
    #container{
        width: 1280px;
    }
    main {
        padding: 2rem;
    }
}
@media (min-width: calc(1280px/0.75)) {
    #container {
        width: 100%;
        display: grid;
        grid-template-columns: auto fit-content(1280px);
        grid-template-rows: min-content;
        grid-template-areas:
            ". header"
            "nav main"
            ". footer";
        justify-content: center;
        align-items: start;
    }
    nav {
        padding: 1em;
    }
}

/* CORNER RADII */
#page-header {
    border-radius: 0 0 2rem 2rem;
}
nav {
    border-radius: 1rem;
}
nav menu > li {
    &:first-child > a {
        border-radius: 0.5em 0 0 0.5em;
    }
    &:last-child > a {
        border-radius: 0 0.5em 0.5em 0;
    }
}
main {
    border-radius: 1rem;

}
#post-previews > article, .post-part, h2 {
    border-radius: 1rem;
}
#page-footer {
    border-radius: 1rem 1rem 0 0;
}
@media (min-width: 1280px) {
    main {
        border-radius: 2rem;
    }
}
@media (min-width: calc(1280px/0.75)) {
    nav menu > li {
        &:first-child > a {
            border-radius: 0.5em 0.5em 0 0;
        }
        &:last-child > a {
            border-radius: 0 0 0.5em 0.5em;
        }
    }
}

/* PAGE TITLE */
h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    & a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    @media (min-width: 1280px) {
        text-align: left;
    }
}

/* MAIN NAVIGATION MENU */
nav menu {
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
nav menu > li {
    display: contents;
    &:not(:first-child) > a {
        border-left: 2px solid black;
    }
}
nav menu > li > a {
    color: black;
    padding: 0.5em;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        background: var(--color-beige);
    }
}
@media (min-width: calc(1280px/0.75)) {
    nav menu {
        flex-direction: column;
    }
    nav menu > li:not(:first-child) > a {
        border-left: none;
        border-top: 2px solid black;
    }
    nav menu > li > a {
        text-align: center;
        border: none;
    }
}

/* LIST PAGE CONTENT */
#post-previews {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}
#post-previews > article {
    background: var(--color-beige);
    padding-right: 1em;
    padding-left: 1em;
    &:hover {
        outline: 0.5em solid var(--color-sage);
    }
}
@media (min-width: 800px) {
    #post-previews {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-auto-rows: 1fr;
    }
    #post-previews > article:first-child {
        grid-column: span 2;
    }
}
#post-previews > article hgroup > p {
    font-size: 0.8em;
    font-weight: bold;
}

/* POST PAGE CONTENT */
article#post {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.post-part {
    background: var(--color-beige);
    padding: 0.25em 1rem;
}
article#post hgroup {
    display: flex;
    flex-direction: column;
    gap: 1em
}
article {
    & hgroup > .post-part, & footer {
        font-size: 0.8em;
    }
    & hgroup > .post-part {
        font-weight: bold;
    }
}
ul#categories, ul#tags {
    font-weight: bold;
    list-style: none;
    padding: 0;
    & > li {
        display: inline;
    }
}
p#last-updated {
    font-style: italic;
}

/* FOOTER */
#page-footer > p {
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* HYPERLINKS */
a {
    color: var(--color-orange);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/* HEADINGS */
h2 {
    font-size: 2rem;
    background: var(--color-beige);
    margin: 0;
    padding: 0.5em 1rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

/* POST IMAGES */
#post img, #post img + em {
    display: block;
    margin: auto;
    font-size: 0.8em;
    text-align: center;
    max-width: min(100%, 1000px);
    height: auto;
}

/* CODE */
pre > code {
    background: black;
    color: var(--color-beige);
    width: 100%;
    display: inline-block;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
}