/* COLOR PALETTE
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359
*/

/* DEFINE CUSTOM */
:root {
    --color-sage: #a5b68d;
    --color-peach: #ecdfcc;
    --color-beige: #fcfaee;
    --color-orange: #da8359;
}

/* TOP LEVEL */
html {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    @media (min-width: calc(800px/0.75)) {
        font-size: 1.2em;
    }
}
body {
    background: var(--color-sage);
    margin: 0;
    padding: 0;
}

/* MAIN STRUCTURE */
#container {
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    @media (min-width: 800px) {
        width: 800px;
    }
}
#page-header {
    background: var(--color-beige);
    grid-area: header;
}
#page-footer {
    background: var(--color-beige);
    grid-area: footer;
}
nav {
    background: var(--color-orange);
    grid-area: nav;
}
main {
    background: var(--color-peach);
    grid-area: main;
    padding: 1rem;
}
#page-header, nav, #page-footer {
    padding-left: 2rem;
    padding-right: 2rem;
}
@media (min-width: 800px) {
    main {
        padding: 2rem;
    }
}
@media (min-width: calc(800px/0.75)) {
    #container {
        width: 100%;
        grid-template-columns: auto 75%;
        grid-template-areas:
            ". header"
            "nav main"
            ". footer";
        justify-content: center;
    }
}

/* MAIN NAVIGATION MENU */
nav menu {
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    & > li {
        display: inline;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }
}
nav menu li a {
    color: black;
}
@media (min-width: calc(800px/0.75)) {
    nav menu > li {
        display: block;
        border: none;
    }
}

/* PAGE CONTENT */
#post-previews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
}
#post-previews > article {
    background: var(--color-beige);
}

/* PAGE TITLE */
h1 {
    font-size: 4em;
    & a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

/* HYPERLINKS */
a {
    color: var(--color-orange);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}