/* COLOR PALETTE
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359
*/

/* DEFINE CUSTOM */
:root {
    --color-sage: #a5b68d;
    --color-peach: #ecdfcc;
    --color-beige: #fcfaee;
    --color-orange: #da8359;
}

/* TOP LEVEL */
html {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    @media (min-width: calc(800px/0.75)) {
        font-size: 1.2em;
    }
}
body {
    background: var(--color-sage);
    margin: 0;
    padding: 0;
}

/* MAIN STRUCTURE */
#container {
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    @media (min-width: 800px) {
        width: 800px;
    }
    @media (min-width: calc(800px/0.75)) {
        width: 75%;
    }
}
#page-header {
    background: var(--color-beige);
    grid-area: header;
}
#page-footer {
    background: var(--color-beige);
    grid-area: footer;
}
nav {
    background: var(--color-orange);
    grid-area: nav;
}
main {
    background: var(--color-peach);
    grid-area: main;
}

/* PAGE CONTENT */
#post-previews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
}
#post-previews > article {
    background: var(--color-beige);
}