/* COLOR PALETTE
https://colorhunt.co/palette/a5b68decdfccfcfaeeda8359
*/

/* DEFINE CUSTOM */
:root {
    --color-sage: #a5b68d;
    --color-peach: #ecdfcc;
    --color-beige: #fcfaee;
    --color-orange: #da8359;
    --width-small: 800px;
}

/* TOP LEVEL */
html {
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
    @media (max-width: 1067px) {
        font-size: 1em;
    }
}
body {
    background: var(--color-sage);
    margin: 0;
    padding: 0;
}

/* MAIN PAGE STRUCTURE */
#container {
    margin: 0 auto;
    @media (min-width: 800px) {
        width: var(--width-small);
    }
    @media (min-width: calc(800px/0.75)) {
        width: 75%;
    }
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#page-header, nav, main {
    margin-bottom: 1em;
}
#page-footer {
    margin-top: auto;
}
#page-header, #page-footer {
    background: var(--color-beige);
}

/* PAGE TITLE */
h1 a {
    color: black;
    &:hover {
        text-decoration: none;
    }
}

/* MAIN NAVIGATION MENU */
nav menu {
    background: var(--color-orange);
    list-style: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-weight: bold;
    margin: 0;
}
nav menu li {
    display: inline;
    line-height: 2em;
    text-transform: uppercase;
}
nav menu li a {
    color: black;
}

/* MAIN CONTENT */
#page-header, nav menu, main, #page-footer {
    padding-left: 2rem;
    padding-right: 2rem;
}
main {
    --main-padding: 2rem;
    font-size: 1rem;
    padding: var(--main-padding);
    background: var(--color-peach);
    @media (max-width: 800px) {
        --main-padding: 1rem;
    }
}
#post-previews {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-auto-rows: 1fr;
    gap: 1em;
}
#post-previews article {
    background: var(--color-beige);
    padding-left: 1em;
    padding-right: 1em;
    &:first-child {
        grid-column: 1 / span 2;
    }
    &:hover {
        outline: 0.5em solid var(--color-sage);
    }
}
@media (max-width: 800px) {
    #post-previews {
        /*display: flex;*/
        /*flex-direction: column;*/
        grid-template-columns: 1fr;
    }
    #post-previews article:first-child {
        grid-column: span 1;
    }
}
.post-part {
    background: var(--color-beige);
    padding: 0.25em 1rem;
    margin-top: 1rem;
}
article hgroup, article footer {
    font-size: 0.8em;
}
article hgroup p {
    font-weight: bold;
}
p#last-updated {
    font-style: italic;
}
ul#tags, ul#categories {
    list-style: none;
    font-weight: bold;
    padding: 0;
}
ul#tags li, ul#categories li {
    display: inline;
}
#page-footer p {
    margin: 0;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}

/* BORDER RADII */
#page-header {
    border-radius: 0 0 2rem 2rem;
}
nav menu {
    border-radius: 1rem;
}
main {
    border-radius: var(--main-padding);
}
#post-previews article, .post-part, h2 {
    border-radius: 1rem;
}
#page-footer {
    border-radius: 1rem 1rem 0 0;
}

/* HYPERLINKS */
a {
    text-decoration: none;
    color: var(--color-orange);
    &:hover {
        text-decoration: underline;
    }
}

/* HEADINGS */
h1 {
    font-size: 4rem;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
h2 {
    font-size: 2rem;
    margin: 0;
    background: var(--color-beige);
    padding: 0.5em 1rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

/* POST IMAGES */
#post img, #post img + em {
    display: block;
    margin: auto;
    font-size: 0.8em;
    text-align: center;
    max-width: min(100%, 1000px);
    height: auto;
}

/* CODE */
code {
    background: black;
    color: var(--color-beige);
    font-size: 0.8em;
}
pre code {
    width: 100%;
    display: inline-block;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
}