<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrumpyF.uk</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<h1>GrumpyF.uk{% block page_title %}{% endblock page_title %}</h1>
<hr>
<nav>
    <menu>
        <li><a href="{% url 'blog:index' %}">Home</a></li>
        {% for category in categories %}
            <li><a href="{% url 'blog:category' category.slug %}">{{ category }}</a></li>
        {% endfor %}
    </menu>
</nav>
<hr>
{% block page_content %}{% endblock page_content %}
<footer>Copyright &copy; David Anscombe 2024</footer>
</body>
</html>