<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GrumpyF.uk{% block window_title %}{% endblock window_title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}" />
</head>
<body>
    <div id="container">
            <hgroup id="page-header">
                <h1><a href="{% url 'blog:index' %}">GrumpyF.uk</a></h1>
            </hgroup>

        <nav>
            <menu>
                <li><a href="{% url 'blog:index' %}">Home</a></li>
                {% for category in categories %}
                    <li>| <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                {% endfor %}
            </menu>
        </nav>

        <main>
            <h2>{% block page_title %}{% endblock page_title %}</h2>
            {% block page_content %}{% endblock page_content %}
        </main>

        <footer id="page-footer"><p>Copyright &copy; GrumpyF.uk 2024</p></footer>
    </div>
</body>
</html>