{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <script data-goatcounter="https://grumpyfuk.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2607634905938236"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head_description %}
    <meta name="description"
          content="GrumpyF.uk is a blog covering topics such as gardening, fruit and veg growing, wildlife,
          fermentation and brewing, as well as programming, web dev, and computing." />
    {% endblock head_description %}
    <meta name="google-adsense-account" content="ca-pub-2607634905938236">
    <title>GrumpyF.uk{% block window_title %}{% endblock window_title %}</title>
    <link rel="canonical" href="{{ absolute_uri }}" />
    <link rel="icon" type="image/x-icon" href="{% static 'blog/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}" />
</head>
<body>
    <div id="container">
        <hgroup id="page-header">
            <h1><a href="{% url 'blog:index' %}">GrumpyF.uk</a></h1>
        </hgroup>

        <nav>
            <menu>
                <li><a href="{% url 'blog:index' %}">Home</a></li>
                {% for category in categories %}
                    <li>| <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                {% endfor %}
            </menu>
        </nav>

        <main>
            {% block page_title %}{% endblock page_title %}
            {% block page_content %}{% endblock page_content %}
        </main>

        <footer id="page-footer"><p>Copyright &copy; GrumpyF.uk {% now 'Y' %}</p></footer>
    </div>
<script id="dsq-count-scr" src="//grumpyfuk.disqus.com/count.js" async></script>
<!-- Default Statcounter code for My blog https://www.grumpyf.uk -->
<script type="text/javascript">
var sc_project=13074540;
var sc_invisible=1;
var sc_security="89b3815a";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
Statcounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/13074540/0/89b3815a/1/"
alt="Web Analytics Made Easy - Statcounter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>