{% extends 'blog/base.html' %}

{% block window_title %}
    {% if list_title %} | {{ list_title }}{% endif %}
{% endblock window_title %}

{% block page_title %}
    {{ list_title }}
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <article>
                <hgroup>
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <p>Published {{ post.publish_date|date:'l, jS F Y' }} by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
                </hgroup>
                {% load blog_extras %}
                <p>{{ post.summary | slice:100 }}...<a href="{{ post.get_absolute_url }}">[read more]</a></p>
            </article>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}